<%-# This is the page for Product Rankings. -%>
<%-# http://localhost:3000/queries/product_rankings -%>

<h1>Products Ranked by Complaint Count</h1>
<% if @graph_data.present? %>
	<canvas id="line-chart" width="800" height="450"></canvas>
	<script>
	new Chart(document.getElementById("line-chart"), {
	  type: 'line',
	  data: {
	    labels: [
	    	<% @graph_data[0]["x_axis"].each do |label| %>
	    	<%= label %>,
	    	<% end %>
	    ],
	    datasets: [
	    	<% @graph_data.each do |block| %>
	        {
	            data: <%=block["data"]%>,
	            label: '<%=block["label"]%>',
	            borderColor: '<%=block["borderColor"]%>',
	            fill: false
	        },
	        <% end %>
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'Monthly Average Number of Complaints (per year)'
	    }
	  }
	});
	</script>
	<br>
	<p class="graph_note">*The 2018 average includes all months through August.</p>
<% end %>

<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>

