<%-# This is the page for Company Rankings by complaint count. -%>
<%-# http://localhost:3000/queries/product_deep_dive -%>

<%#= For deep dive results, the x-axis will be months Jan-Dec.
	The y-axis will be number of complaints.
	Each year will have its own line plotted on the graph (use different colors.)
	The purpose is to analyze one company's performance over the years. %>


<h1>Product Deep Dive</h1>
<h5>Results for <b><%= @product_name %></b></h5>

<canvas id="line-chart" width="800" height="450"></canvas>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    datasets: [
    	<% @datablocks.each do |block| %>
        {
            data: <%=block["data"]%>,
            label: '<%=block["label"]%>',
            borderColor: '<%=block["borderColor"]%>',
            fill: false
        },
        <% end %>
    ]
  }
,
  options: {
    title: {
      display: true,
      text: 'Monthly Number of Complaints (per year)'
    }
  }
});
</script>
<br>
<p class="graph_note">*Data unavailable after August 2018. For most services, zeroes are indicative of unavailable data.</p>


<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>


