<%# This is the Query Directory page. -%>
<%# http://localhost:3000/queries/query_directory -%>

<h1>Search Directory</h1>
<div class="row">
	<div class="col-md-6 text-center">
		<i class="fa fa-building fa-3x"></i>
		<p class="query_descriptor text-left">Which financial institutions are the least consumer friendly? To provide you with a list of the least consumer-friendly companies, we've ranked all of them by their monthly complaint averages.</p>
		<%= link_to "Company Rankings", 'complaint_rankings', class: 'btn btn-primary d-block d-md-none', id: 'btn_link' %>
	</div>
	<div class="col-md-6 text-center">
		<i class="fa fa-credit-card fa-3x"></i>
		<p class="query_descriptor text-left">Which products or services are the least consumer friendly?  We've ranked the performance of ten common financial products and services over the past several years, so you can take care when applying for the worst offenders.</p>
		<%= link_to "Product Rankings", 'product_rankings', class: 'btn btn-primary d-block d-md-none', id: 'btn_link' %>
	</div>
</div>
<div class="d-none d-md-block">
	<div class="row button_row">
		<div class="col-md-6 text-center">
			<%= link_to "Company Rankings", 'complaint_rankings', class: 'btn btn-primary', id: 'btn_link' %>
		</div>
		<div class="col-md-6 text-center">
			<%= link_to "Product Rankings", 'product_rankings', class: 'btn btn-primary', id: 'btn_link' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 text-center">
		<i class="fa fa-clock-o fa-3x"></i>
		<p class="query_descriptor text-left">When a complaint is lodged, some companies are quick to try and resolve the issue... and some aren't.  We've ranked the slowest responders by two metrics:  (1) Companies with the largest quantity of sluggish responses, and (2) Companies with the largest percentage of total responses that have been deemed untimely.</p>
		<%= link_to "Timeliness Rankings", 'timeliness_rankings', class: 'btn btn-primary d-block d-md-none', id: 'btn_link' %>
	</div>
	<div class="col-md-6 text-center">
		<i class="fa fa-frown-o fa-3x"></i>
		<p class="query_descriptor text-left">A complaint has been lodged, and after some significant amount of time, the company in question has come up with a (sometimes less-than-satisfactory) resolution.  We've used two metrics to rank the companies that are most likely to provide poor resolutions: (1) Annual number of disputed resolutions, and (2) Annual dispute rate, as a percentage of all resolutions provided by a company.</p>
		<%= link_to "Dispute Rankings", 'dispute_rankings', class: 'btn btn-primary d-block d-md-none', id: 'btn_link' %>
	</div>
</div>
<div class="d-none d-md-block">
	<div class="row button_row">
		<div class="col-md-6 text-center">
			<%= link_to "Timeliness Rankings", 'timeliness_rankings', class: 'btn btn-primary', id: 'btn_link' %>
		</div>
		<div class="col-md-6 text-center">
			<%= link_to "Dispute Rankings", 'dispute_rankings', class: 'btn btn-primary', id: 'btn_link' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 text-center">
		<i class="fa fa-search fa-3x"></i>
		<p class="query_descriptor text-left">Perhaps, instead of a ranking of the least consumer-friendly companies, you're interested in one institution in particular.  Choose an organization of interest from the dropdown list to view an analysis of its performance over the past several years.</p>
		<br>
		<div class="d-block d-md-none">
			<%= form_tag '/queries/company_deep_dive', method: :get do %>
				<div class="field form-group">
					<%= select_tag :company_name, options_for_select(@names.collect {|p| [p['name'], p['name']]}),
					class: 'select_form' %>
				</div>
				<%= submit_tag 'Company Deep Dive', class: 'btn btn-primary btn_bottom', id: 'btn_link'  %>
			<% end %>
		</div>
	</div>
	<div class="col-md-6 text-center">
		<i class="fa fa-line-chart fa-3x"></i>
		<p class="query_descriptor text-left">Have certain financial products and services become more or less consumer friendly in recent years?  Choose a category of interest from the dropdown list to view an analysis of its performance over the past several years.</p>
		<br>
		<div class="d-block d-md-none">
			<%= form_tag '/queries/product_deep_dive', method: :get do %>
				<div class="field form-group">
					<%= select_tag :product_name, options_for_select(@products),
					class: 'select_form' %>
				</div>
					<%= submit_tag 'Product Deep Dive', class: 'btn btn-primary btn_bottom', id: 'btn_link'  %>
			<% end %>
		</div>
	</div>
</div>

<div class="d-none d-md-block">
	<div class="row">
		<div class="col-md-6 text-center">
			<%= form_tag '/queries/company_deep_dive', method: :get do %>
				<div class="field form-group">
					<%= select_tag :company_name, options_for_select(@names.collect {|p| [p['name'], p['name']]}),
					class: 'select_form' %>
				</div>
				<%= submit_tag 'Company Deep Dive', class: 'btn btn-primary btn_bottom', id: 'btn_link'  %>
			<% end %>
		</div>
		<div class="col-md-6 text-center">
			<%= form_tag '/queries/product_deep_dive', method: :get do %>
				<div class="field form-group">
					<%= select_tag :product_name, options_for_select(@products),
					class: 'select_form' %>
				</div>
					<%= submit_tag 'Product Deep Dive', class: 'btn btn-primary btn_bottom', id: 'btn_link'  %>
			<% end %>
		</div>
	</div>
</div>



<%# Custom User Search goes in this div -%>
<div id = "custom_search" class="container">

	<p class="text-center">
		<i class="fa fa-gears fa-3x"></i><br>
		Looking for something specific? Use the filters below to generate customized results!<br>
	</p>
	<p class="tip_head">Tips for usage:</p>
		<ul class="tips">
			<li>Select companies or products and services you'd like to compare.</li>
			<li>Selecting only companies will return a ranking of the selected companies.</li>
			<li>Selecting only products and services will return a ranking of the selected products and services.</li>
			<li>Selecting both companies and products/services will return a ranking of chosen companies based on the specified product types. Note that, if a selected company doesn't provide a particular service, this may return zero results. For example, a credit reporting company probably hasn't received any complaints about virtual currency.</li>
			<li>Results can be narrowed down by demographic, date range, submission method, or state.  Note that applying too many filters can lead to few, or zero, results.</li>
		</ul>
	<div class="container">
		<p class="filter_name text-center">Select Categories of Interest</p>
		<%= form_tag '/queries/custom_search', method: :get do %>
		<div class ="row">
			<div class="col-md-4 field form-group">
				<div class="form_category">Product/Service Type:
					<span class="tooltiptext">Leave unchecked to view all results.
					</span>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{1}]", true, @tags %>
					<%= label_tag "type[#{1}]", "Banking"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{2}]", true, @tags %>
					<%= label_tag "type[#{2}]", "Consumer Loan"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{3}]", true, @tags %>
					<%= label_tag "type[#{3}]", "Credit Card"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{4}]", true, @tags %>
					<%= label_tag "type[#{4}]", "Credit Reporting"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{5}]", true, @tags %>
					<%= label_tag "type[#{5}]", "Debt Collection"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{6}]", true, @tags %>
					<%= label_tag "type[#{6}]", "Money Transfer"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{7}]", true, @tags %>
					<%= label_tag "type[#{7}]", "Mortgage"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{8}]", true, @tags %>
					<%= label_tag "type[#{8}]", "Prepaid Card"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{9}]", true, @tags %>
					<%= label_tag "type[#{9}]", "Student Loan"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{10}]", true, @tags %>
					<%= label_tag "type[#{10}]", "Virtual Currency"%>
				</div>
				<div class="checkbox">
					<%= check_box_tag "type[#{11}]", true, @tags %>
					<%= label_tag "type[#{11}]", "Other"%>
				</div>
			</div>
			<div class="col-md-8 field form-group">
				<div class="form_category text-center">Company Selection:
					<span id="company_tooltip" class="tooltiptext">Hint: Use Ctrl+F to search for companies.
					</span>
				</div>
				<div class="scroll_container">
					<% @names.each_with_index do |n, index| %>
						<% n.each do |value| %>
							<%#= index %>
							<%#= value[1] %>
							<div class="checkbox-inline">
								<%= check_box_tag "cname[#{index}]", true, @tags, class: 'align_check' %>
								<%= label_tag "cname[#{index}]", value[1], class: 'align_name' %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<p class="filter_name text-center">Additional Filters</p>
		<div class="row">
			<div class="col-md-4 field form-group">
				<div class="field form-group">
					<div class="form_category">Complaint Submission Method:
						<span class="tooltiptext">Leave unchecked to view all results.
						</span>
					</div>
					<div class="checkbox">
						<%= check_box_tag "sub[#{1}]", true, @tags %>
						<%= label_tag "sub[#{1}]", "E-mail"%>
					</div>
					<div class="checkbox">
						<%= check_box_tag "sub[#{2}]", true, @tags %>
						<%= label_tag "sub[#{2}]", "Fax"%>
					</div>
					<div class="checkbox">
						<%= check_box_tag "sub[#{3}]", true, @tags %>
						<%= label_tag "sub[#{3}]", "Phone"%>
					</div>
					<div class="checkbox">
						<%= check_box_tag "sub[#{4}]", true, @tags %>
						<%= label_tag "sub[#{4}]", "Postal Mail"%>
					</div>
					<div class="checkbox">
						<%= check_box_tag "sub[#{5}]", true, @tags %>
						<%= label_tag "sub[#{5}]", "Referral"%>
					</div>
					<div class="checkbox">
						<%= check_box_tag "sub[#{6}]", true, @tags %>
						<%= label_tag "sub[#{6}]", "Web"%>
					</div>
				</div>
			</div>
			<div class="col-md-4 field form-group">
				<div class="field form-group">
					<div class="form_category">Demographic:
						<span class="tooltiptext">Leave unchecked to view all results.
						</span>
					</div>
					<div class="radio">
						<%= radio_button_tag :"demo[#{1}]", 1 %>
						<%= label_tag :"demo[#{1}]", "Older American"%>
					</div>
					<div class="radio">
						<%= radio_button_tag :"demo[#{1}]", 2 %>
						<%= label_tag :"demo[#{1}]", "Not Older American"%>
					</div>
					<div class="radio">
						<%= radio_button_tag :"demo[#{2}]", 1 %>
						<%= label_tag :"demo[#{2}]", "Service Member"%>
					</div>
					<div class="radio">
						<%= radio_button_tag :"demo[#{2}]", 2 %>
						<%= label_tag :"demo[#{2}]", "Not Service Member"%>
					</div>
					<div class="checkbox-inline">
						<%= check_box_tag "demo[#{3}]", true, @tags, class: 'align_check' %>
						<%= label_tag "demo[#{3}]", "All Other Demographics", class: 'align_name demo_name' %>
					</div>
				</div>
			</div>
			<div class="col-md-4 field form-group">
				<div class="form_category">State Selection:
					<span class="tooltiptext">Leave unchecked to view all results.
					</span>
				</div>
				<div class="scroll_container state_container">
					<% @State_list.each do |key, value| %>
						<%#= index %>
						<%#= value[1] %>
						<div class="checkbox-inline">
							<%= check_box_tag "state[#{key}]", true, @tags, class: 'align_check' %>
							<%= label_tag "state[#{key}]", "#{key}", class: 'align_name' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 field form-group date_selector">
				<div class="form_category">Select Date Range:
					<span class="tooltiptext">Default shows all results.
					</span>
				</div>
				<div class="form-group calendar">
				  	<%= text_field_tag("start_date", "", :readonly => true) %>
					<%= label_tag "start_date", "Start Date", class: 'date_label' %>
					<%= text_field_tag("end_date", "", :readonly => true) %>
					<%= label_tag "end_date", "End Date", class: 'date_label' %>
				</div>
			</div>
			<div class="col-md-8 date_explanation">
				<div class="form_category">Ramifications of Date Selection:</div>
				<br>
				<ul>
					<li>Default behavior, when no range is selected, includes all data from January 1st, 2012, through August 31st, 2018. Results will include computed monthly average numbers of complaints (on a year-by-year basis) for the specified product types and/or companies.</li>
					<li>When a date range is selected, monthly averages will not be computed.  Instead, an exact number of complaints for each month within the specified range will be returned. Note that the first and last months will only include complaints that are in range, not their true monthly total.</li>
				</ul>
			</div>
		</div>
		<div class="col-12 text-center">
			<%= submit_tag 'Get Results', class: 'btn btn-primary btn_bottom', id: 'btn_link'  %>
		</div>
		<% end %>
	</div>
</div>