<%-# This is the page for Timeliness Rankings. -%>
<%-# http://localhost:3000/queries/timeliness_rankings -%>

<h1>Companies Ranked by Response Timeliness</h1>

<%-# !!! NOTE !!! Implement each of these results as a series of bargraphs. There will be 5 entries for each year 2011-2018. Each bar will represent one of the 5 companies for the given year.  The y-axis will either be "total number of untimely responses" for the first set of results, and "percentage of untimely responses" for the second set. -%>

<h3>Ranked by Total Number of Untimely Responses</h3>

<br>

<% if @graph_data1.present? %>
	<canvas id="bar-chart-grouped" width="800" height="450"></canvas>
	<script>
	new Chart(document.getElementById("bar-chart-grouped"), {
	  type: 'bar',
	  data: {
	    labels:  <%= @graph_data1[0]["x_axis"] %>
	    ,
	    datasets: [
	    	<% @graph_data1.each do |block| %>
	        {
	            data: <%=block["data"]%>,
	            label: '<%=block["label"].gsub("&", "and").gsub("'", "`")%>',
	            backgroundColor: '<%=block["borderColor"]%>',
	            fill: false
	        },
	        <% end %>
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'Yearly Number of Untimely Responses (Top 5 Worst Performers per Year)'
	    }
	  }
	});
	</script>
	<br>
	<p class="graph_note">*Only data from December is available for 2011.</p>
<% end %>

<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @cnt_results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @cnt_results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>
<br>

<h3>Ranked by Percentage of Untimely Responses</h3>

<% if @graph_data2.present? %>
	<canvas id="bar-chart-grouped2" width="800" height="450"></canvas>
	<script>
	new Chart(document.getElementById("bar-chart-grouped2"), {
	  type: 'bar',
	  data: {
	    labels:  <%= @graph_data2[0]["x_axis"] %>
	    ,
	    datasets: [
	    	<% @graph_data2.each do |block| %>
	        {
	            data: <%=block["data"]%>,
	            label: '<%=block["label"].gsub("&", "and").gsub("'", "`")%>',
	            backgroundColor: '<%=block["borderColor"]%>',
	            fill: false
	        },
	        <% end %>
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'Yearly Percentage of Untimely Responses (Top 5 Worst Performers per Year)'
	    }
	  }
	});
	</script>
	<br>
	<p class="graph_note">*Only data from December is available for 2011.</p>
<% end %>

<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @pct_results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @pct_results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>


